<mat-toolbar color="primary">
  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <span>HERBAL SYSTEM MANAGEMENT</span>
        </div>
        <div class="col-md-8">
            <button mat-button [matMenuTriggerFor]="menu">Clientes</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Listagem</button>
              <button mat-menu-item>Pedidos</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="product">Produtos</button>
            <mat-menu #product="matMenu">
              <button mat-menu-item>Estoque</button>
              <button mat-menu-item>Categorias</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="finance">Financeiro</button>
            <mat-menu #finance="matMenu">
              <button mat-menu-item>Receita</button>
              <button mat-menu-item>Lucro</button>
            </mat-menu>
        </div>
    </div>
  </div>
</mat-toolbar>
