//    @import './src/styles.scss';


.form-control {
  border-radius: 2.25rem;
}
.form-control:hover {
  background-color: #f5f5f5;
}
.mat-toolbar {
  background: #7ac143;
}
.button {
  outline: none;
}
.mat-button {
  outline: none;
}
.mat-menu-item {
  outline: none;
}
