
  <mat-card>
    <mat-card-header>
      <mat-icon class="icon-display">perm_identity</mat-icon>
      <h2 class="profile-name ml-1">Olá, Ricardo</h2>
      <hr>
      <mat-icon>store</mat-icon>
      <p class="profile-evs">Espaço Vila Guarani</p>
    </mat-card-header>
    <div class="col-md-6 offset-3">
      <img src="./../assets/img/circle.svg"  class="rounded-circle">
    </div>
  </mat-card>
  <div class="mt-2"></div>
  <mat-card>
    <h3 class="category-title">Categorias</h3>

  </mat-card>

