<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-info">250 </h2>
          <p>Produtos cadastrados</p>
          <button type="button" class="btn btn-outline-info">Mais Detalhes</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title text-dark">200 </h2>
              <p>Vendas realizadas</p>
              <button type="button" class="btn btn-outline-info">Mais Detalhes</button>
            </div>
          </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title text-success">150 </h2>
              <p>clientes cadastrados</p>
              <button type="button" class="btn btn-outline-info">Mais Detalhes</button>
            </div>
          </div>
    </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title text-info">Últimos Clientes Cadastrados</h2>
              <p>Nome:  Carmem Sperlongo</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                <h2 class="card-title text-success">Últimos Produtos Cadastrados</h2>
                <p>Shake: Café Cremoso</p>
              </div>
          </div>
      </div>
  </div>
