/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// patterns
$green: #7ac143;




//utilities
.card {
  border-radius: 0;
  color: #AAB5BC;
}
.jumbotron {
  background-color: #e9ecf3;
  padding: 20px;
}
.btn {
  border-radius: 0;
}


